{% if delete == "reading_session" %}
<!-- modal: confirm reading session deletion -->
<div id="modal-{{ reading_session._id }}" class="modal dark-mauve white-text center-align">
    <div class="modal-content">
        <h4>Are you sure you want to delete this reading session?</h4>
        <p>This action cannot be undone.</p>
    </div>
    <div class="modal-footer dark-mauve">
        <a class="btn white plum-text modal-close">No, go back</a>
        <a href="{{ url_for('delete_reading_session', reading_session_id=reading_session._id )}}"
            class="btn white plum-text">Yes, delete permanently</a>
    </div>
</div>
{% endif %}

{% if delete == "student" %}
<!-- modal: confirm student deletion -->
<div id="modal-{{ student._id }}" class="modal dark-mauve white-text center-align">
    <div class="modal-content">
        <h4>Are you sure you want to delete this {% if user_type == "parent" %}child{%
            else %}student{% endif %} and all associated reading sessions?</h4>
        <p>This action cannot be undone.</p>
    </div>
    <div class="modal-footer dark-mauve">
        <a class="btn white plum-text modal-close">No, go back</a>
        <a href="{{ url_for('delete_student', student_id=student._id )}}" class="btn white plum-text">Yes, delete
            permanently</a>
    </div>
</div>
{% endif %}

{% if delete == "user_profile" %}
<!-- modal: confirm user deletion -->
{% if students | length > 0 %}
<!-- if students still linked to user account: redirect to my_students -->
<div id="modal-{{ user._id }}" class="modal dark-mauve white-text center-align">
    <div class="modal-content">
        <h4>You Still Have {% if user_type == "parent" %}Children{%
            else %}Students{% endif %} Linked to Your Account</h4>
        <p>You must {% if user_type == "parent" %} delete {% else %} delete or reassign {% endif %} your {% if user_type
            == "parent" %}children{%
            else %}students{% endif %}
            before you can delete your account</p>
    </div>
    <div class="modal-footer dark-mauve">
        <a class="btn white plum-text modal-close">Close</a>
    </div>
</div>
{% else %}
<!-- if no students linked to user account trigger confirm deletion modal -->
<div id="modal-{{ user._id }}" class="modal dark-mauve white-text center-align">
    <div class="modal-content">
        <h4>Are you sure you want to delete your account?</h4>
        <p>This action cannot be undone.</p>
    </div>
    <div class="modal-footer dark-mauve">
        <a class="btn white plum-text modal-close">No, go back</a>
        <a href="{{ url_for('delete_user', user_id=user._id )}}" class="btn white plum-text">Yes, delete permanently</a>
    </div>
</div>
{% endif %}
{% endif %}