:root {
    --french-mauve: #DB7DD8;
    --plum: #673C66;
    --mint: #44B58D;
    --celadon: #B9DE93;
    --pistachio: #ADD982;
    --sky-blue: #90DDF8;
    --aero: #48BDE8;
}

.mauve {
    background-color: #DB7DD8 !important;
}
.mauve-text {
    color: #DB7DD8 !important;
}
.light-mauve {
    background-color: #E9AFE6 !important;
}
.light-mauve-text {
    color: #E59FE2 !important;
}
.dark-mauve {
    background-color: #A661A7 !important;
}
.dark-mauve-text {
    color: #A661A7 !important;
}
.mint {
    background-color: #44B58D !important;
}
.mint-text {
    color: #44B58D !important;
}
.sky-blue {
    background-color: #90DDF8 !important;
}
.sky-blue-text {
    color: #90DDF8 !important;
}
.aero {
    background-color: #48BDE8 !important;
}
.aero-text {
    color: #48BDE8 !important;
}
.pistachio {
    background-color: #ADD982 !important;
}
.pistachio-text {
    color: #ADD982 !important;
}
.plum {
    background-color: #673C66 !important;
}
.plum-text {
    color: #673C66 !important;
}
.lavender {
    background-color: #ECE5F9 !important;
}
.lavender-text {
    color: #ECE5F9 !important;
}

body {
    margin: 0;
    height: 100vh;
    background: url('../images/background.jpg') no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

nav a {
    color: var(--plum) !important;
}

.input-field input, .input-field textarea {
    background-color: var(--pistachio);
}