:root {
    --plum: #673C66;
    --celadon: #CCE7B1;
    --pistachio: #ADD982;
    --sky-blue: #90DDF8;
    --aero: #48BDE8;
}

.celadon {
    background-color: #CCE7B1 !important;
}
.celadon-text {
    color: #CCE7B1 !important;
}
.dark-mauve {
    background-color: #A661A7 !important;
}
.dark-mauve-text {
    color: #A661A7 !important;
}

.sky-blue {
    background-color: #90DDF8 !important;
}
.sky-blue-text {
    color: #90DDF8 !important;
}
.aero {
    background-color: #48BDE8 !important;
}
.aero-text {
    color: #48BDE8 !important;
}
.pistachio {
    background-color: #ADD982 !important;
}
.pistachio-text {
    color: #ADD982 !important;
}
.plum {
    background-color: #673C66 !important;
}
.plum-text {
    color: #673C66 !important;
}

body {
    margin: 0;
    height: 100vh;
    background: url('../images/background.jpg') no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.brand-logo {
    letter-spacing: 0.5px;
}

main {
    flex: 1 0 auto;
  }

nav a {
    color: var(--plum) !important;
}

.logo {
    vertical-align: middle;
    height: 50px;
}
 .page-footer{
    padding-top: 10px;
    padding-bottom: 10px;
 }

.input-field input, .input-field textarea {
    background-color: var(--pistachio);
}

.uppercase {
    text-transform: uppercase;
}

@media screen and (max-width: 420px) {
    .logo-text {
        display: none;
    }
}