{% extends "base.html" %}
{% block content %}

<div class="row card-panel pistachio plum-text center-align">
    <form class="col s12" method="POST" action="{{ url_for('add_student') }}">
        <!-- display My Children if user is a parent or My Students if user is a teacher -->
        <h2>Add {% if user_type == "parent" %}Child{%
            else %}Student{% endif %}</h2>
        <!-- student first and last names-->
        <div class="row">
            <div class="input-field col s6">
                <input id="fname" name="fname" pattern="^[a-zA-Z]{2,15}$" type="text" class="validate mauve"
                    placeholder=" " required>
                <label for="fname"><i class="fa-solid fa-child left"></i>First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="lname" name="lname" pattern="^[a-zA-Z]{2,15}$" type="text" class="validate mauve"
                    placeholder=" " required>
                <label for="lname">Last Name</label>
            </div>
        </div>
        <!-- current reading level selector-->
        <div class="row">
            <div class="input-field col s12 mauve">
                <select id="reading_level" name="reading_level" class="validate" required>
                    <option value="" disabled selected>Select Current Reading Level</option>
                    {% for i in range(1, 31) %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                    <option value="Free Reader">Free Reader</option>
                </select>
                <label for="reading_level"><i class="fa-solid fa-book-open plum-text left"></i>Reading Level</label>
            </div>
        </div>
        <!-- teacher name selector -->
        <div class="row">
            <div class="input-field col s12">
                <select id="teacher" name="teacher" class="validate" required>
                    <option value="" disabled selected>Select Teacher</option>
                    {% for teacher in teachers %}
                    <option value="{{ teacher._id }}">{{ teacher.title | capitalize }} {{ teacher.lname | capitalize }}
                    </option>
                    {% endfor %}
                </select>
                <label for="teacher"><i class="fa-solid fa-person-chalkboard plum-text left"></i>Teacher</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn btn-large white plum-text">Add {% if user_type == "parent" %}Child{%
                    else %}Student{% endif %} <i class="fa-solid fa-plus-square right"></i></button>
                <a href="{{ url_for('my_students', user=session['user']) }}" class="btn-large white plum-text">Cancel <i
                        class="fa-solid fa-times-circle right"></i></a>
            </div>
        </div>
    </form>
</div>


{% endblock %}