<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize CDN link -->
    <script src="https://kit.fontawesome.com/d2b22e28d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>LitTrack</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <nav class="nav-extended cyan darken-1">
            <div class="nav-wrapper">
                <a href="{{ url_for('view_reading_sessions') }}" class="brand-logo">LitTrack</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('view_reading_sessions') }}">Home</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('my_students', username=session['user']) }}">My Students</a></li>
                    <li><a href="{{ url_for('log_reading_session') }}">Log a Reading Session</a></li>
                    <li><a href="{{ url_for('students') }}">Students</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav  -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('view_reading_sessions') }}">Home</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('my_students', username=session['user']) }}">My Students</a></li>
            <li><a href="{{ url_for('log_reading_session') }}">Log a Reading Session</a></li>
            <li><a href="{{ url_for('students') }}">Students</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h4 class="cyan lighten-2 center-align">{{ message }}</h4>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock%}
    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>