<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block refresh %}
    {% endblock %}
    <!-- Materialize CDN link -->
    <script src="https://kit.fontawesome.com/d2b22e28d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>LitTrack</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <nav class="nav-extended aero">
            <div class="nav-wrapper">
                {% if session.user %}
                <a href="{{ url_for('my_reading_sessions', user=session['user']) }}" class="brand-logo plum-text">LitTrack</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="brand-logo plum-text">LitTrack</a>
                {% endif %}
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars plum-text"></i></a>
                <ul class="right hide-on-med-and-down">

                    {% if session.user %}
                    <li><a href="{{ url_for('my_reading_sessions', user=session['user']) }}">Home</a></li>
                    <li><a href="{{ url_for('my_reading_sessions', user=session['user']) }}">Reading Sessions</a>
                    </li>
                    <li><a href="{{ url_for('log_reading_session') }}">Log a Reading Session</a></li>
                    <li><a href="{{ url_for('my_students', user=session['user']) }}">My {% if user_type == "parent" %}Children{% else %}Students{% endif %}</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav  -->
        <ul class="sidenav" id="mobile-demo">
            {% if session.user %}
            <li><a href="{{ url_for('my_reading_sessions', user=session['user']) }}">Home</a></li>
            <li><a href="{{ url_for('my_reading_sessions', user=session['user']) }}">Reading Sessions</a>
            </li>
            <li><a href="{{ url_for('log_reading_session') }}">Log a Reading Session</a></li>
            <li><a href="{{ url_for('my_students', user=session['user']) }}">My {% if user_type == "parent" %}Children{% else %}Students{% endif %}</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h4 class="sky-blue center-align">{{ message }}</h4>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="container center-align">
        {% block content %}
        {% endblock%}
    </main>

    <footer class="page-footer aero plum-text center-align">
        <div class="container">
          <div class="row">
            <div class="s12">
              <h5>&copy 2023 LitTrack</h5>
            </div>
          </div>
        </div>
      </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>



</html>