{% extends "base.html" %}
{% block content %}

<div class="row card-panel center-align mauve plum-text">
    <form class="col s12" method="POST" action="{{ url_for('edit_student', student_id=student._id) }}">
        <h2>Edit Student</h2>
        <!-- student first and last names-->
        <div class="row student-field">
            <div class="input-field col s6">
                <i class="fa-solid fa-user-circle white-text prefix"></i>
                <input id="fname" name="fname" pattern="^[a-zA-Z]{2,15}$" value="{{ student.fname | capitalize }}"
                    type="text" class="mauve validate" required>
                <label for="fname">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="lname" name="lname" pattern="^[a-zA-Z]{2,15}$" value="{{ student.lname | capitalize }}"
                    type="tel" class="mauve validate" required>
                <label for="lname">Last Name</label>
            </div>
        </div>
        <!-- current reading level selector-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-book-open white-text prefix"></i>
                <select id="reading_level" name="reading_level" class="validate" required>
                    <option value="" disabled>Select Current Reading Level</option>
                    {% for i in range(1, 31) %}
                    <option value="{{i}}" {% if student.reading_level == i | string %}selected{% endif %}>{{i}}</option>
                    {% endfor %}
                    <option value="Free Reader" {% if student.reading_level == "Free Reader" %}selected{% endif %}>Free Reader</option>
                </select>
                <label for="reading_level" class="white-text">Reading Level</label>
            </div>
        </div>
        <!-- teacher name selector -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-person-chalkboard white-text prefix"></i>
                <select id="teacher" name="teacher" class="validate" required>
                    <option value="" disabled>Select Teacher</option>
                    {% for teacher in teachers %}
                    <option value="{{ teacher._id }}" {% if teacher._id == student.teacher %}selected{% endif %}>{{ teacher.title | capitalize }} {{ teacher.lname |
                        capitalize }}
                    {% endfor %}
                </select>
                <label for="teacher" class="white-text">Teacher</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large white plum-text">Edit Student <i
                        class="fa-solid fa-edit right"></i></button>
                <a href="{{ url_for('my_students', user=session['user']) }}"
                    class="btn-large white plum-text">Cancel <i class="fa-solid fa-times-circle right"></i></a>
            </div>
        </div>
    </form>
</div>


{% endblock %}