{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Reading Session</h3>

<div class="row card-panel pink">
    <form class="col s12" method="POST"
        action="{{ url_for('edit_reading_session', reading_session_id=reading_session._id ) }}">
        <!-- student name selector -->
        <div class="row">
            <div class="input-field col s12 m8">
                <i class="fa-solid fa-user white-text prefix"></i>
                <select id="student" name="student" class="validate" required>
                    <option value="" disabled>Select Student</option>
                    {% for pupil in students %}
                    {% if reading_session.student == pupil._id %}
                    <option value="{{ pupil._id }}" selected>{{ pupil.fname | capitalize }} {{ pupil.lname | capitalize }}</option>
                    {% else %}
                    <option value="{{ pupil._id }}">{{ pupil.fname | capitalize }} {{ pupil.lname | capitalize }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="student" class="white-text">Student</label>
            </div>
            <div class="input-field col s12 m4">
                <i class="fa-solid fa-calendar-days white-text prefix"></i>
                <input id="date" name="date" type="text" value="{{ reading_session.date }}" class="datepicker validate" required>
                <label for="date" class="white-text">Date</label>
            </div>
        </div>
        <div class="row">
            <!-- book title-->
            <div class="input-field col s12 m8">
                <i class="fa-solid fa-book white-text prefix"></i>
                <input id="title" name="title" minlength="2" maxlength="30" value="{{ reading_session.title }}" type="text" class="validate" required>
                <label for="title" class="white-text">Book Title</label>
            </div>
            <!-- book level selector-->
            <div class="input-field col s12 m4">
                <i class="fa-solid fa-book-open white-text prefix"></i>
                <select id="book_level" name="book_level" class="validate" required>
                    <option value="" disabled selected>Select Book Level</option>
                    {% for i in range(1, 31) %}
                        {% if reading_session.book_level == i | string() %}
                            <option value="{{i}}" selected>{{i}}</option>
                        {% else %}
                            <option value="{{i}}">{{i}}</option>
                        {% endif %}
                    {% endfor %}
                    {% if reading_session.book_level == "Free" %}
                    <option value="Free" selected>30+</option>
                    {% else %}
                    <option value="Free">30+</option>
                    {% endif %}
                </select>
                <label for="book_level" class="white-text">Reading Level</label>
            </div>
        </div>
        <!-- comments -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-comment white-text prefix"></i>
                <textarea id="comment" name="comment" class="materialize-textarea">
                    {{- reading_session.comment -}}
                </textarea>
                <label for="comment" class="white-text">Comment</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large white pink-text">Edit Reading Session<i
                        class="fa-solid fa-edit right"></i></button>
                    <a href="{{ url_for('view_reading_sessions') }}" class="btn-large white pink-text">Cancel <i class="fa-solid fa-times-circle right"></i></a>
            </div>
        </div>
    </form>
</div>

{% endblock %}