{% extends "base.html" %}
{% block content %}

    {% for entry in entries %}
        {{ entry.entry_type_name}}<br>
        {{ entry.date }}<br>
        {{ entry.book_name }}<br>
        {{ entry.book_level }}<br>
        {{ entry.fiction }}<br>
        {{ entry.pages_read }}<br>
        {{ entry.comments }}<br>
    {% endfor %}

    <ul class="collapsible popout">
        <li>
          <div class="collapsible-header"><i class="fa-solid fa-caret-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fa-solid fa-caret-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fa-solid fa-caret-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
{% endblock %}