{% extends "base.html" %}
{% block content %}

<div class="row card-panel pistachio center-align">
    <form class="col s12" method="POST" action="{{ url_for('log_reading_session') }}">
        <h3 class="plum-text">Log a Reading Session</h3>
        <!-- student name selector -->
        <div class="row">
            <div class="input-field col s12 m8">
                <select id="student" name="student" class="validate" required>
                    <option value="" disabled selected>Select {% if user_type == "parent" %}Child{%
                        else %}Student{% endif %}</option>
                    {% for student in students %}
                    <option value="{{ student._id }}">{{ student.fname | capitalize }} {{ student.lname | capitalize }}
                    </option>
                    {% endfor %}
                </select>
                <label for="student" class=""><i class="fa-solid fa-child plum-text left"></i>{% if user_type == "parent" %}Child{%
                    else %}Student{% endif %}</label>
            </div>
            <!-- datepicker -->
            <div class="input-field col s12 m4">
                <input id="date" name="date" type="text" class="pistachio datepicker validate" placeholder=" " required>
                <label for="date" class="plum-text"><i class="fa-solid fa-calendar-days plum-text left"></i>Date</label>
            </div>
        </div>
        <div class="row">
            <!-- book title-->
            <div class="input-field col s12 m8">
                <input id="title" name="title" minlength="2" maxlength="30" type="text" class="pistachio validate"
                    placeholder=" " required>
                <label for="title" class="plum-text"><i class="fa-solid fa-book plum-text left"></i>Book Title</label>
            </div>
            <!-- book level selector-->
            <div class="input-field col s12 m4">
                <select id="book_level" name="book_level" class="pistachio validate" placeholder=" " required>
                    <option value="" disabled selected>Select Book Level</option>
                    {% for i in range(1, 31) %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                    <option value="Free Reader">Free Reader</option>
                </select>
                <label for="book_level" class=""><i class="fa-solid fa-book-open plum-text left"></i>Reading
                    Level</label>
            </div>
        </div>
        <!-- comments -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="comment" name="comment" class="pistachio materialize-textarea" placeholder=" "></textarea>
                <label for="comment" class="plum-text"><i class="fa-solid fa-comment plum-text left"></i>Comment</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large white plum-text">Log Reading Session<i
                        class="fa-solid fa-plus-square right"></i></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}