{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card-panel pistachio center-align">
            <h3 class="center-align plum-text">Reading Sessions</h3>
            <div class="row">
                <!-- Book title search -->
                <form action="{{ url_for('search_books') }}" method="POST" class="col s12 m6 l5">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s8">
                            <input type="text" name="query" id="query" minlength="2" class="validate" placeholder=" "
                                required>
                            <label for="query"><i class="fa-solid fa-search left"></i>Search for a Book Title</label>
                        </div>
                        <div class="col s4">
                            <button type="submit" class="btn btn-small white plum-text">
                                <i class="fa-solid fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Filter students -->
                <form action="{{ url_for('filter_students', user=session['user']) }}" method="POST"
                    class="col s12 m6 l5">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s8" id="filter">
                            <select name="filter" class="validate" required multiple>
                                {% for student in students %}
                                <option value="{{ student._id }}">{{ student.fname | capitalize }} {{ student.lname |
                                    capitalize }}
                                </option>
                                {% endfor %}
                            </select>
                            <label for="filter">
                                <i class="fa-solid fa-filter left"></i>Filter Students</label>
                        </div>
                        <div class="col s4">
                            <button type="submit" class="btn btn-small white plum-text">
                                <i class="fa-solid fa-filter plum-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- reset search and filter button -->
                <div class="col s4 offset-s4 offset-m5 l2 valign-wrapper">
                    <a href="{{ url_for('my_reading_sessions', user=session['user']) }}"
                        class="btn btn-small left dark-mauve">
                        <i class="fa-solid fa-rotate-left"></i>Reset</a>
                </div>
            </div>

            {% if reading_sessions | length > 0 %}
            <ul class="collapsible popout">

                {% for reading_session in reading_sessions %}
                {% for student in students %}
                {% if reading_session.student == student._id %}

                <li>
                    <!-- collapsible header showing name, date, and logged_by icon -->
                    <div class="collapsible-header plum-text">
                        <div class="row">
                            <div class="col s2"><i class="fa-solid fa-caret-down"></i></div>
                            <div class="col s4"><strong>
                                    {{ student.fname | capitalize }} {{ student.lname | capitalize }}
                                </strong></div>
                            <div class="col s4"><strong>{{ reading_session.date }}</strong></div>
                            <!-- display home icon if logged by parent and school icon if logged by teacher -->
                            {% if reading_session.logged_by == student.parent %}
                            <div class="col s2"><i class="fa-solid fa-house"></i></div>
                            {% else %}
                            <div class="col s2"><i class="fa-solid fa-school"></i></div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- collapsible body showing book, level and comment -->
                    <div class="collapsible-body plum-text">
                        Book: <strong>{{ reading_session.title | title }}</strong><br>
                        Level: {{ reading_session.book_level }}<br>
                        Comment: {{ reading_session.comment }}<br>
                        {% if user._id == reading_session.logged_by %}
                        <a href="{{ url_for('edit_reading_session', reading_session_id=reading_session._id )}}"
                            class="btn-small pistachio plum-text">Edit</a>
                        <a href="#modal-{{ reading_session._id }}"
                            class="btn-small modal-trigger pistachio plum-text">Delete</a>
                        <!-- inject the modals partials-template -->
                        {% set delete = "reading_session" %}
                        {% include "partials/modals.html" %}
                        {% endif %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
            {% else %}
            <h3 class="center-align plum-text">No Results Found</h3>

            {% endif %}
        </div>
    </div>
</div>



{% endblock %}