{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card-panel pistachio center-align">
            <h3 class="center-align plum-text">Reading Sessions</h3>

            <div class="row card-panel grey-lighten-5">
                <form action="{{ url_for('search_books') }}" method="POST" class="col s12 m6">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s12 m8">
                            <i class="fa-solid fa-search prefix"></i>
                            <input type="text" name="query" id="query" minlength="2" class="validate" placeholder=" "
                                required>
                            <label for="query">Search for a Book Title</label>
                        </div>
                        <div class="col s12 m4">
                            <a href="{{ url_for('my_reading_sessions', user=session['user']) }}"
                                class="red btn btn-small">Reset</a>
                            <button type="submit" class="btn btn-small">
                                <i class="fa-solid fa-search left"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            {% if reading_sessions | length > 0 %}
            <ul class="collapsible popout">

                {% for reading_session in reading_sessions %}
                {% for student in students %}
                {% if reading_session.student == student._id %}

                <li>
                    <div class="collapsible-header plum-text">
                        <i class="fa-solid fa-caret-down"></i>
                        <strong>
                            {{ student.fname | capitalize }} {{ student.lname | capitalize }}
                        </strong>
                        <strong>{{ reading_session.date }}</strong>
                        <!-- display home icon if logged by parent and school icon if logged by teacher -->
                        {% if reading_session.logged_by == student.parent %}
                        <i class="fa-solid fa-house"></i>
                        {% elif reading_session.logged_by == student.teacher %}
                        <i class="fa-solid fa-school"></i>
                        {% endif %}

                    </div>
                    <div class="collapsible-body plum-text">
                        Book: <strong>{{ reading_session.title | title }}</strong><br>
                        Level: {{ reading_session.book_level }}<br>
                        Comment: {{ reading_session.comment }}<br>
                        {% if user._id == reading_session.logged_by %}
                        <a href="{{ url_for('edit_reading_session', reading_session_id=reading_session._id )}}"
                            class="btn-small">Edit</a>
                        <a href="#modal-{{ reading_session._id }}" class="btn-small modal-trigger">Delete</a>
                        <!-- inject the modals partials-template -->
                        {% include "partials/modals.html" %}
                        {% endif %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
            {% else %}
            <h3 class="center-align plum-text">No Results Found</h3>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}