{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card-panel pistachio">
      {% if user.user_type == 'teacher' %}
      <h3 class="center-align plum-text">My Students</h3>
      <a href="{{ url_for('update_reading_levels', user=session['user']) }}" class="btn white plum-text">Update All
        Reading Levels</a>
      <a href="{{ url_for('update_teacher', user=user._id) }}" class="btn white plum-text">Update Teacher for All
        Students</a>
      {% else %}
      <h3 class="center-align plum-text">My Children</h3>
      <a href="{{ url_for('add_student') }}" class="btn-floating btn-large white right"><i
          class="fa-solid fa-plus plum-text"></i></a>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  {% for student in students %}
  {% if student.parent == user._id %}
  <div class="col s12 m6">
    <div class="card-panel center-align celadon">
      {{ student.fname | capitalize }}
      {{ student.lname | capitalize }}<br>
      Current Reading Level: {{ student.reading_level }}<br>
      {% for teacher in teachers %}
      {% if teacher._id | string() == student.teacher | string() %}
      Teacher: {{ teacher.title | capitalize }} {{ teacher.lname | capitalize }}<br>
      {% endif %}
      {% endfor %}
      <a href="{{ url_for('edit_student', student_id=student._id )}}" class="btn-small white plum-text">Edit</a>
      <a href="#modal-{{ student._id }}" class="btn-small white plum-text modal-trigger">Delete</a>
      <!-- inject the modals partials-template -->
      {% set delete = "student" %}
      {% include "partials/modals.html" %}
    </div>
  </div>
  {% elif student.teacher == user._id %}
  <div class="col s6 m4">
    <div class="card-panel center-align celadon">
      {{ student.fname | capitalize }}
      {{ student.lname | capitalize }}<br>
      Current Reading Level: {{ student.reading_level }}<br>
      <a href="{{ url_for('edit_student', student_id=student._id )}}" class="btn-small white plum-text">Edit</a>
      <a href="#modal-{{ student._id }}" class="btn-small white plum-text modal-trigger">Delete</a>
      <!-- inject the modals partials-template -->
      {% include "partials/modals.html" %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>


<a href="#modal-{{ user._id }}" class="btn-small dark-mauve white-text modal-trigger">Delete My
  Account</a>
<!-- inject the modals partials-template -->
{% set delete = "user_profile" %}
{% include "partials/modals.html" %}


{% endblock %}