{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel dark-mauve white-text center-align">
            <h2 class="uppercase">Enter the World of Digital Reading Records</h2>
            <h3>Tracking Triumphs, One Story at a Time</h3>
            <a href="{{ url_for('about_us')}}" class="btn aero plum-text">
                Find out more <i class="fa-solid fa-circle-info"></i>
            </a>
            <a href="{{ url_for('login') }}" class="btn aero white-text"><span class="plum-text">Already registered?
                </span>Log In <i class="fa-solid fa-right-to-bracket"></i></a>
            <hr>
            <h3 class="center-align white-text">Register Here</h3>
            <!-- registration code -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-users white-text prefix"></i>
                    <input id="reg-code" name="reg-code" type="text" class="dark-mauve validate" placeholder=" "
                        required>
                    <label for="reg-code" class="white-text">Registration Code</label>
                </div>
            </div>
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-plus white-text prefix"></i>
                    <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$"
                        class="dark-mauve validate" placeholder=" " required>
                    <label for="username" class="white-text">Username</label>
                </div>
            </div>
            <!-- title -->
            <div class="row">
                <div class="input-field col s2">
                    <i class="fa-solid fa-user-plus white-text prefix"></i>
                    <input id="title" name="title" type="text" pattern="^[a-zA-Z]{2,5}$"
                        class="dark-mauve validate autocomplete" placeholder=" " required>
                    <label for="title" class="white-text">Title</label>
                </div>
                <!-- first name -->
                <div class="input-field col s5">
                    <input id="fname" name="fname" type="text" pattern="^[a-zA-Z]{2,15}$" class="dark-mauve validate"
                        placeholder=" " required>
                    <label for="fname" class="white-text">First Name</label>
                </div>
                <!-- last name -->
                <div class="input-field col s5">
                    <input id="lname" name="lname" type="text" pattern="^[a-zA-Z]{2,15}$" class="dark-mauve validate"
                        placeholder=" " required>
                    <label for="lname" class="white-text">Surname</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-lock white-text prefix"></i>
                    <input id="password" name="password" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$"
                        class="dark-mauve validate" placeholder=" " required>
                    <label for="password" class="white-text">Password</label>
                </div>
            </div>
            <!-- register button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large white dark-mauve-text">
                    Register <i class="fa-solid fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}