{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel pink">
            <h3 class="center-align white-text">
                All Students
            </h3>
            <a href="{{ url_for('add_student' )}}" class="btn-floating btn-large white right"><i class="fa-solid fa-plus pink-text"></i></a>
        </div>
    </div>
</div>

<div class="row">
    {% for student in students %}
    <div class="col s12 m6">
      <div class="card-panel center-align pink lighten-2">
        {{ student.fname | capitalize }}
        {{ student.lname | capitalize }}<br>
        Current Reading Level: {{ student.reading_level }}<br>
        {% for teacher in teachers %}
        {% if teacher._id == student.teacher %}
        Teacher: {{ teacher.title | capitalize }} {{ teacher.lname | capitalize }}<br>
        {% endif %}
        {% endfor %}
        <a href="" class="btn-small white pink-text text-darken-3">View</a>
        <a href="{{ url_for('edit_student', student_id=student._id )}}" class="btn-small white pink-text text-darken-3">Edit</a>
        <a href="" class="btn-small white pink-text text-darken-3">Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}