{% extends "base.html" %}
{% block content %}

<div class="row card-panel center-align mauve plum-text">
    <form class="col s12" method="POST" action="{{ url_for('update_teacher', user=session['user']) }}">
        <h2>Update Teacher</h2>
        <!-- student first and last names-->
        <div class="row">
            {% for student in students %}
            <div class="input-field col s6">
                <span>{{ student.fname | capitalize }} {{ student.lname | capitalize }}</span>
            </div>
            <!-- current teacher selector-->
            <div class="input-field col s6">
                <select id="teacher" name="teacher" class="validate" required>
                    <option value="" disabled>Select Teacher</option>
                    {% for teacher in teachers %}
                    <option value="{{ teacher._id }}__{{ student._id }}" {% if teacher._id==student.teacher %}selected{% endif %}>{{
                        teacher.title | capitalize }} {{ teacher.lname | capitalize }}
                    {% endfor %}
                </select>
                <label for="teacher">Teacher</label>
            </div>
            {% endfor %}
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large white plum-text">Update<i
                        class="fa-solid fa-edit right"></i></button>
                <a href="{{ url_for('my_students', user=session['user']) }}"
                    class="btn-large white plum-text">Cancel <i class="fa-solid fa-times-circle right"></i></a>
            </div>
        </div>
    </form>
</div>


{% endblock %}