{% extends "base.html" %}
{% block content %}

<div class="row card-panel pistachio plum-text">
    <form class="col s12" method="POST" action="{{ url_for('update_reading_levels', user=session['user']) }}">
        <h2>Update All Reading Levels</h2>
        <!-- student first and last names-->
        <div class="row">
            {% for student in students %}
            <div class="input-field col s6">
                <span>{{ student.fname | capitalize }} {{ student.lname | capitalize }}</span>
            </div>
            <!-- current reading level selector-->
            <div class="input-field col s6">
                <select id="reading_level-{{ loop.index }}" name="reading_level" class="validate" required>
                    <option value="" disabled>Select Current Reading Level</option>
                    {% for i in range(1, 31) %}
                    <option value="{{i}}__{{student._id}}" {% if student.reading_level==i | string %}selected{% endif
                        %}>{{i}}</option>
                    {% endfor %}
                    <option value="Free Reader__{{student._id}}" {% if student.reading_level=="Free Reader" %}selected{%
                        endif %}>Free Reader</option>
                </select>
                <label for="reading_level-{{ loop.index }}">Reading Level</label>
            </div>
            {% endfor %}
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large white plum-text">Update<i
                        class="fa-solid fa-edit right"></i></button>
                <a href="{{ url_for('my_students', user=session['user']) }}" class="btn-large white plum-text">Cancel<i
                        class="fa-solid fa-times-circle right"></i></a>
            </div>
        </div>
    </form>
</div>


{% endblock %}